<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,600italic' rel='stylesheet'>
</head>
<style>

</style>

<body>

<h2>Dobrý den,</h2>
<p>
Zveme Vás na školení {$event->title} pod vedením {$event->lector->getFullName()}
</p>
<p>
Školení bude probíhat dne {$event->date|date:'j. n. Y'} v {$event->date|date:'H:i'} na adrese {$event->address} v místnosti  {$event->room}.
</p>
<p>
Prosím potvrďte svou účast na adrese:
{$link}
</p>

</body>

</html>
