{block content}
{define title}Settings{/define}


<h2>VAT</h2>
<div class="form-wrapper">
{control settingsVatForm}
    </div>


<h2>Exchange rates to CZK (daily updated from CNB)</h2>
<div class="form-wrapper">
{control settingsExchangeRateForm}
</div>