<link rel="stylesheet/less" type="text/css" href="{$basePath}/css/adminModule/less/app.less" />
<script>
    less = {
        env: "development",
        async: true,
        fileAsync: true,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        rootpath: "/css/adminModule/less/"
    };
</script>
<script src="{$basePath}/js/less/less.min.js"></script>
<script>less.watch();</script>