{layout none}
<link rel="shortcut icon" href="{$basePath}/images/favicon.ico">
<title>Stránka nenalezena</title>
<center>
    <h1 style="font-family: Arial" >
        Omlouváme se, tato stránka nebyla nalezena, pokračujte
        prosím na <a n:href=":Front:Default:">hlavní stránku</a>.
    </h1>
</center>
{include 'components/errorImage.latte'}