<script>
    var address1 = {$event_detail->address};
    var address2 = {$event_detail->address2};

    var coordinates =
        {if $coordinates}
            { 'latitude': {$coordinates->latitude}, 'longitude': {$coordinates->longitude} }
        {else}
            false
        {/if};

    var coordinates2 =
        {if $coordinates2}
            { 'latitude': {$coordinates2->latitude}, 'longitude': {$coordinates2->longitude} }
        {else}
            false
        {/if};
</script>