parameters:
    dev_servers: [127.0.0.1, localhost, zizcon, zizcon.incolor.cz]
    email_from: sales@hotelpro.cz
    email_to: sales@hotelpro.cz
    title: ŽIŽCON
    title_admin: ŽIŽCON
    meta_author: InColor.cz
    meta_description: 'fiksme'
    meta_keywords: 'fiksme'
    copyright: 'Provozováno <a href="http://www.hotelpro.cz">Hotelpro s.r.o.</a>, &copy; 2016 Hotelpro | Developed by <a href="http://incolor.cz">InColor.cz</a>'
    flashes:
        ok: 'Akce byla úspěšná'
        fail: 'Akce se nezadařila'
        sign_out: 'Byl jste odhlášen'
        you_must_be_logged: 'Musíte být přihlášen'
        email_sent: 'Email byl odeslán'
    upload_paths:
        gallery: /www/images/gallery/
    words:
        add_new: Přidat nový
        title: Název
        actions: Akce
        detail: Detail
        users: Uživatelé
        email_templates: Emailové šablony
        email: E-mail
        name: Jméno
    actions:
        title: Akce
        edit: Editovat
        delete: Smazat
        copy: Kopírovat
        confirm: Potvrdit