/* HEADER */
.header {
	text-align: center;
}

.header .zc_logo {
    /* margin-top: 5%; */
    display: inline-block;
    max-width: 60%;
}

.header .zc_logo .claim {
    display: block;
    color: #2834d6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
	opacity: 0.5;
	padding: 5px;
}

.header .zc_logo img { 
	width: 60%;
}

.header .languages {
    position: absolute;
    top: 5%;
    left: 5%;
	text-align: left;
	width: 20%;
}

.header .languages img {
	width: 30px;
}

.header .logging {
    position: absolute;
    top: 0;
    right: 5%;
	text-align: left;
	height: 150px
}

.header .logging ul {
	list-style-type: none;
	margin: 0;
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: hidden;
}

.header .logging li a {
	/* float: left; */
	display: block;
	margin: 0.1em;
	padding: 0.3em;
	background-color: yellow;
	border: 0.3em outset green;
	text-decoration: none;
	border-radius: 5px;
}

/* FOOTER */
.footer ul {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0.3em;
	overflow: hidden;
	background-color: #16A085
}

.footer li a img {
	float: left;
	display: block;
	margin-top: 0;
	padding: 0.3em;
	text-decoration: none;
	width: 5%;
	height: 5%;
}