body {
	font: 16px/1.5 Georgia, Verdana, Arial;
	margin: 0 auto;
	width: 90%;
	color: #333;
	background-color: #D5E8D4;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

h1 {
	color: red;
	text-align: center;
}

h2 {
	text-align: center;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
li.menu {
	float: left;
}

li.menu a.menu {
	display: block;
	padding: 8px;
	background-color: white;
	color: black;
	border-style: groove;
	text-decoration: none;
}