body {
	font: 11px/1.5 Georgia, Verdana, Arial;
	margin: 0 auto;
	width: 90%;
	color: #333;
	background-color: #D5E8D4;
}

/* FORMS */
form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

/* LINKS */
a[href^="#error:"] {
	background: red;
	color: white;
}

/* GENERAL ELEMENTS */
div {
	display: block;
}

h1 {
	color: red;
	text-align: center;
}

h2 {
	text-align: center;
}

/* FLASH */
div.flash {
	position: absolute;
	top: 0;
	left: 20%;
	width: 60%;
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
	animation: showme 5s forwards;
	z-index: 10000;
	text-align: center;
}

@keyframes showme {
	0%   {opacity: 0;}
	10%  {opacity: 1;}
	50%  {opacity: 1;}
	100% {opacity: 0; z-index: -1;}
}

/* MENU */
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0.3em;
	overflow: hidden;
	background-color: #16A085
}

.menu li a {
	float: left;
	display: block;
	margin: 0.1em;
	padding: 0.3em;
	background-color: white;
	border: 0.3em outset green;
	text-decoration: none;
	border-radius: 5px;
}
